@font-face {
    font-family: 'VT323';
    src: url('../fonts/VT323-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    font-family: 'VT323', monospace;
    color: white;
    font-size: 20pt;
    background-image: radial-gradient(ellipse farthest-corner, rgba(183, 0, 7, 0.7), rgb(0, 0, 0)), url("../images/background.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

a {
    text-decoration: none;
}

#content {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    gap: 5vh;
}

audio {
    align-self: center;
    border-radius: 2vh;
    width: 5vh;
}
